$home-image: url(/assets/background.jpg);

$color-primary-font: #f1f9ff;
$color-blue-light: #6ba1cc;
$color-blue-medium: #224871;
$color-blue-dark: #091d44;
$color-black: #000000;

$max-width-body: 1000px;
$heading-primary-size: 40px;
$line-height-default: 25px;
$footer-height: 64px;

@mixin page-default {
  background-color: rgba(241, 249, 255, 0.9);
  line-height: $line-height-default;
  max-width: $max-width-body;
  margin: 0 auto;
  padding: 50px 30px;
  position: relative;
  text-align: justify;
  min-height: calc(100vh - 64px);
}

@mixin heading-primary {
  color: darken($color-blue-medium, 5%);
  text-shadow: 2px 0px lighten($color-blue-light, 10%);
  font-size: $heading-primary-size;
  line-height: 45px;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

@mixin heading-secondary {
  color: $color-blue-medium;
  font-size: 28px;
  text-align: center;
}

@mixin btn-default {
  border-radius: 5px;
  background-color: $color-blue-medium;
  box-shadow: 0 0 2px rgb(129, 129, 129);
  border: 2px double $color-blue-light;
  color: $color-primary-font;
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin: 40px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  transition: 0.2s;
}
@mixin btn-default--hover {
  background-color: $color-blue-light;
  border: 2px double $color-blue-medium;
  color: $color-blue-dark;
}
@mixin btn-default--active {
  background-color: $color-blue-medium;
  color: $color-primary-font;
}
@mixin btn-default--disabled {
  background-color: $color-primary-font;
  border: 2px double $color-blue-light;
  color: $color-blue-light;
}

@mixin mediaSm {
  @media screen and (min-width: 300px) and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
