@import "config";

.about-us__container {
  @include page-default;

  h2 {
    font-size: 28px;
    text-align: center;
  }
}

.program__details {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  h3 {
    font-size: 28px;
    text-align: center;
  }
}

.about-title {
  @include heading-primary;
}
.volunteer__bios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.individual__bio {
  max-width: 300px;

  img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}



@include mediaMd {
  .volunteer__bios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .individual__bios {
      max-width: 150px;
  }

}
@include mediaSm{
  .volunteer__bios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  
  .individual__bios {
      max-width: 75px;
  }

}
