@import "config";

* {
  box-sizing: border-box;
}

// *:before,
// *:after {
//   box-sizing: border-box;
// }

html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.hr-line {
  width: 100%;
  // margin-top: -20px;
  margin-bottom: 20px;
  border: 0.5px solid lighten($color-blue-dark, 20%);
  box-shadow: 0.5px 0.5px 2px lighten($color-blue-light, 20%);
}

/*NavBar Styles */
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.btn-container .navLink {
  text-decoration: none;
  color: white;
  line-height: 40px;
  background: $color-blue-dark;
  padding: 0px 40px;
  position: relative;
  transition: all 0.5s ease-out;
}
.btn-container .navLink:hover {
  padding: 0px 60px;
}

.btn-container .navLink:after,
.btn-container .navLink:before {
  content: "";
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  background: $color-blue-medium;
  z-index: 3;
}

.btn-container .navLink:after {
  left: -15px;
}

.btn-container .navLink:before {
  right: -15px;
}

.navBar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color-blue-medium;
}

.navBar-list .navElement {
  float: left;
}

li .navLink {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navElement .navLink:hover {
  background-color: $color-blue-light;
}

/* Collapsible NavBar */

.responsive {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: none;
}

#collapsible-btn {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 2rem;
  font-weight: bolder;
  color: $color-blue-light;
  text-shadow: 1px 0px $color-primary-font;
}
#menu_label {
  padding: 0.5rem;
}

#collapsible-btn :hover {
  color: white;
  text-shadow: 2px 0px $color-primary-font;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

input#menu {
  display: none;
}
.menu-content {
  display: none;
  float: left;
  background-color: $color-blue-dark;
  width: 100%;
  border: 3px solid $color-blue-medium;
}
.menu-container {
  display: flex;
  flex-direction: column;
}
.menu-item {
  text-decoration: none;
  color: $color-primary-font;
  padding: 1rem;
  font-weight: 700;
}
.menu-item:not(:nth-child(1)) {
  border-top: 1px solid $color-blue-light;
}

.menu-item:hover {
  background-color: $color-blue-light;
  transition: all 0.5s ease-out;
}

input:checked + label {
  color: $color-blue-light;
  transition: all 0.5s ease-in-out;
}
input:checked ~ .menu-content {
  display: block;
}

@media (max-width: 1070px) {
  .navBar {
    display: none;
  }
  .responsive {
    display: block;
  }
}

/* Landing Page Body Styles */
.landing-page__body {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto -94px;
  padding: 0 15px;
  height: 100%;
  width: 100%;
}
.landing-page__heading__container {
  margin: 20vh auto 0;
  max-width: $max-width-body;
}
.company__title {
  color: $color-primary-font;
  font-size: 56px;
  text-shadow: 2px 2px 10px $color-blue-dark;
}
.company__slogan {
  color: $color-primary-font;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 2px 2px 10px $color-blue-medium;
}
@media (min-width: 409px) {
  .landing-page__body {
    margin-bottom: (-$footer-height);
  }
  .landing-page__heading__container {
    margin-top: 30vh;
  }
  .company__title {
    font-size: 68px;
  }
  .company__slogan {
    font-size: 22px;
  }
}

@media (max-height: 384px) {
  .landing-page__body {
    overflow: scroll;
  }
  .landing-page__heading__container {
    margin: 20vh auto 40vh;
  }
}

/* Footer Styles */
.footer__container {
  position: relative;
  height: $footer-height;
  line-height: 30px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.footer__top {
  background-color: $color-blue-medium;
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(2, 1fr);
  padding: 6px;
}

@media (min-width: 400px) {
  .footer__top {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 640px) {
  .footer__top {
    grid-template-columns: repeat(8, 1fr);
  }
}

.footer__top__link {
  color: $color-primary-font;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__bottom {
  color: $color-primary-font;
  background-color: $color-blue-dark;
  padding: 2px;
}

.footer__bottom__company-name {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__bottom__copyright {
  font-size: 12px;
}
