@import "config";

html,
body {
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

/*NavBar Styles */
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.btn-container a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  background: $color-blue-dark;
  padding: 0px 40px;
  position: relative;
  transition: all 0.5s ease-out;
}
.btn-container a:hover {
  padding: 0px 60px;
}
.btn-container a:after,
.btn-container a:before {
  content: "";
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  background: $color-blue-medium;
  z-index: 3;
}
.btn-container a:after {
  left: -15px;
}
.btn-container a:before {
  right: -15px;
}
.navBar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color-blue-medium;
}
.navBar-list li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: $color-blue-light;
}

/* Landing Page Body Styles */

.landing__page__body {
  display: inline-block;
  vertical-align: middle;
  max-width: $max-width-body;
  margin: 150px auto 0 auto;
  padding: 15px;
}

.company__title {
  color: $color-primary-font;
  font-size: 64px;
  text-shadow: 2px 2px 10px $color-blue-dark;
}

.company__slogan {
  color: $color-primary-font;
  font-size: 24px;
  font-weight: 500px;
  text-shadow: 2px 2px 10px $color-blue-medium;
}

/*Stories Page Styles*/
.stories_container {
  background-color: $color-blue-light;
  margin: 10% auto;
}
.stories_title {
  font-size: 2rem;
  padding: 35px;
  color: $color-primary-font;
}
/*Testimonies */

.testimonials_container{
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;

}

.snip1386 {
  position: relative;
  overflow: hidden;
  margin: 2em;
  min-width: 530px;
  max-width: 450px;
  max-height: 320px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background-color: $color-blue-light;
  
}
.snip1386 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1386 .background {
  max-width: 100%;
  backface-visibility: hidden;
  opacity: 0.5;
}
.snip1386 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 10px 30px 0;
  background-color: #ffffff;
  width: 50%;
}
.snip1386 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 0 160px 160px;
  border-color: transparent transparent transparent #ffffff;
}
.snip1386:after {
  position: absolute;
  bottom: 75%;
  left: 45%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 140px 140px 0 140px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
}
.snip1386 h5,
.snip1386 blockquote {
  line-height: 1.6em;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  margin: 0;
}
.snip1386 h5 {
  margin: 10px 0;
  line-height: 1.1em;
  font-weight: 900;
  color: #1a1a1a;
}
.snip1386 blockquote {
  font-size: 1em;
  font-style: italic;
}
.snip1386 .profile {
  position: absolute;
  width: 100px;
  border-radius: 50%;
  top: 50%;
  right: 25%;
  z-index: 1;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/* Footer Styles */

.footer__container {
  position: fixed;
  line-height: 30px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer__top {
  background-color: $color-blue-medium;
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(2, 1fr);
  padding: 6px;
}

@media (min-width: 400px) {
  .footer__top {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 640px) {
  .footer__top {
    grid-template-columns: repeat(8, 1fr);
  }
}

.footer__top__link {
  color: $color-primary-font;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__bottom {
  color: $color-primary-font;
  background-color: $color-blue-dark;
  padding: 2px;
}

.footer__bottom__company-name {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__bottom__copyright {
  font-size: 12px;
}

/* Donate Page styles */
.donate-page__container {
  background-color: rgba(241, 249, 255, 0.9);
  line-height: 25px;
  margin: 0 auto;
  max-width: $max-width-body;
  padding: 40px 20px 200px;
  text-align: left;
}

.donate-page__list {
  list-style: circle;
}

.donate__heading--primary {
  font-size: 40px;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.donate__heading--secondary {
  color: $color-blue-medium;
}

.btn--donate {
  border-radius: 5px;
  background-color: $color-blue-medium;
  color: $color-primary-font;
  display: block;
  font-weight: 600;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.btn--donate:hover {
  background-color: $color-blue-light;
  color: $color-blue-dark;
}

.btn--donate:active {
  background-color: $color-blue-medium;
  color: $color-primary-font;
}
