@import "config";

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

/*NavBar Styles */
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
}
.btn-container a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  background: $color-blue-dark;
  padding: 0px 40px;
  position: relative;
  transition: all 0.5s ease-out;
}
.btn-container a:hover {
  padding: 0px 60px;
}
.btn-container a:after,
.btn-container a:before {
  content: "";
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  background: $color-blue-medium;
  z-index: 3;
}
.btn-container a:after {
  left: -15px;
}
.btn-container a:before {
  right: -15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color-blue-medium;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: $color-blue-light;
}

/* Landing Page Body Styles */

.landing__page__body {
  margin: 20%;
}

.company__title {
  color: $color-primary-font;
  font-size: 64px;
}

.company__slogan {
  color: $color-primary-font;
  font-size: 24px;
  font-weight: 500px;
}

/* Footer Styles */

.footer__container {
  position: fixed;
  line-height: 30px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__top {
  background-color: $color-blue-medium;
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(2, 1fr);
  padding: 6px;
}

@media (min-width: 400px) {
  .footer__top {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 640px) {
  .footer__top {
    grid-template-columns: repeat(8, 1fr);
  }
}

.footer__top__link {
  color: $color-primary-font;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__bottom {
  color: $color-primary-font;
  background-color: $color-blue-dark;
  padding: 2px;
}

.footer__bottom__company-name {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__bottom__copyright {
  font-size: 12px;
}
