@import "config";

.donate-page__container {
  @include page-default;
}

.donate-page__list {
  list-style: circle;
}

.donate__heading--primary {
  @include heading-primary;
}

.donate__heading--secondary {
  color: $color-blue-medium;
}

.btn--donate {
  border-radius: 5px;
  background-color: $color-blue-medium;
  color: $color-primary-font;
  display: block;
  font-weight: 600;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.btn--donate:hover {
  background-color: $color-blue-light;
  color: $color-blue-dark;
}

.btn--donate:active {
  background-color: $color-blue-medium;
  color: $color-primary-font;
}
