@import "config";

.photos_container {
  @include page-default;
}

.photos_title {
  @include heading-primary;
}

.slide-container {
  max-width: 700px;
  height: 467px;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}

.image-container {
  width: 2100px;
  height: 600px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
}
.slider-image {
  float: leaft;
  margin: 0px;
  padding: 0px;
}

.button-container {
  top: -11rem;
  position: relative;
}

.slider-button {
  margin: 10px;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}

#slider-image-1:target ~ .image-container {
  left: 0px;
}

#slider-image-2:target ~ .image-container {
  left: -700px;
}

#slider-image-3:target ~ .image-container {
  left: -1400px;
}
