@import "config";

/*Stories Page Styles*/
.stories_container {
  @include page-default;
}

.stories_title {
  @include heading-primary;
}

/*Testimonies */
.testimonials_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snip1386 {
  position: relative;
  overflow: hidden;
  margin: 2em;
  max-width: 500px;
  min-width: 300px;
  max-height: 320px;
  width: 100%;
  color: #000000;
  font-size: 16px;
  background-color: $color-blue-medium;
}

.snip1386 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1386 .background {
  max-width: 100%;
  backface-visibility: hidden;
  opacity: 0.5;
}

.snip1386 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding: 30px 10px 30px 0;
  background-color: $color-blue-light;
  width: 50%;
}

.snip1386 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 100%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 0 160px 160px;
  border-color: transparent transparent transparent $color-blue-light;
}

.snip1386:after {
  position: absolute;
  bottom: 75%;
  left: 45%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 140px 140px 0 140px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
}

.snip1386 h5,
.snip1386 blockquote {
  line-height: 1.3em;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  margin: 0;
  margin-right: 25px;
}

.snip1386 h5 {
  margin: 10px 0;
  line-height: 1.2em;
  font-weight: 900;
  color: $color-primary-font;
}

.snip1386 blockquote {
  font-size: 1em;
}

.snip1386 .profile {
  position: absolute;
  width: 100px;
  border-radius: 50%;
  top: 50%;
  right: 25%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
