@import "config";

.volunteer-page__container {
  @include page-default;
}

.volunteer-form__container {
  display: block;
  position: relative;
  height: 375px;
  padding: 40px 100px;
}

.volunteer__heading--primary {
  @include heading-primary;
}

.volunteer__heading--secondary {
  @include heading-secondary;
}

@include mediaMd {
  .volunteer-form__container {
    padding: 15px 35px;
  }
}
@include mediaSm {
}
